:root {
    --font-heading: 'PT Sans', sans-serif;
    --font-p: 'Open Sans', sans-serif;

    --primary: #784D3C;
    --white: #ffffff;
    --black: #000000;
    --gray: rgba(163, 163, 163, 0.966);
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: var(--font-p);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/** Utilities **/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.button {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    font-size: 1.8rem;
    font-family: var(--font-heading);
    text-transform: uppercase;
    padding: 1.7rem 3rem;
    font-weight: bold;
    margin: 2rem 0;
    border: none;
}

.button:hover {
    cursor: pointer;
}

/** Header **/

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__text {
    text-align: center;
    color: var(--white);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__text {
        margin-top: 15rem;
    }
    
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }
}

.logo {
    color: var(--white);
}

.logo__name {
    font-weight: normal;
}

.logo__bold {
    font-weight: bold;
}

.nav {

}

@media (min-width: 768px) {
    .nav {
        display: flex;
        gap: 2rem;
    }
}

.nav__link {
    color: var(--white);
    display: block;
    font-size: 1.8rem;
}

/** Footer **/

.footer {
    background-color: var(--black);
    padding-bottom: 1rem;
    padding-top: 3rem;
    margin-top: 4rem;
}


/** Content**/

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.main h3 {
    margin: 2rem 0;
}

.main h4,
.main p {
    margin: 0;
}

.article {
    border-bottom: solid 1px var(--gray);
    margin-top: 2rem;
}

.article:last-of-type {
    border-bottom: none;
}

@media (min-width: 768px) {
    .article button {
        width: 30%;
    }
}

/** Sidebar **/

.sidebar h3 {
        margin: 0; 
}

.widget-courses p {
    font-weight: bold;
    font-size: 2rem;
}

.widget-course span {
    font-weight: 400;
}

.widget-course {
    border-bottom: solid 1px var(--gray);
}

.widget-course:last-of-type {
    border-bottom: none;
}

.widget-course button {
    background-color: var(--primary);
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5rem;
    }

    .sidebar h3 {
        margin: 2rem 0;
    }
}

/** Nosotros **/

.sobre-nosotros__text p:first-of-type{
    margin-bottom: 2rem;
}

@media (min-width: 768px ){
    .sobre-nosotros {
        display: grid;  
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }
}


/** Cursos **/

.course__label {
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--font-heading);
}
.course__label span {
    font-weight: normal;
}

.course {
    border-bottom: solid 1px var(--gray);
    margin-bottom: 2rem;
}

.course img {
    margin-bottom: 2rem;
}

.course:last-of-type {
    border-bottom: none;
}

@media (min-width: 768px) {
    .course {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}

/** Contacto **/

.contacto{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-position: center;
}



.form {
    background-color: var(--white);
    margin: -10rem auto 0 auto;
    width: 90%;
    padding: 5rem 02rem;
}

.field {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.field__label {
    flex: 0 0 7rem;
    text-align: right;

}

.field__input {
    flex: 1;
    border: solid 1px rgb(196, 193, 193)
}

.field__text-area {
    flex: 1;
    border: solid 1px rgb(196, 193, 193);
    height: 20rem;
}

@media (min-width: 768px) {
    .button__form {
        width: 20rem;
    }
}